{block #heading}
    <div class="mb-4">
        <h1 n:block="title" class="h3 mb-0 text-gray-800">Test</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a n:href=":Admin:Home:">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Test</li>
            </ol>
        </nav>
    </div>
{/}

{block #content}
    <div class="container p-0">
        <div class="card shadow mb-4">
            <div class="card-body">
                {form form}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="imagepicker mb-3">
                                <img class="img-fluid mb-3 d-none" src="#" alt="image">
                                <button type="button" class="btn btn-primary">
                                    {input image 'class' => 'sr-only'}
                                    <i class="fas fa-upload"></i> Choose image
                                </button>
                            </div>
                        </div>
                    </div>
                    {input submit 'class' => 'btn btn-primary'}
                {/form}
            </div>
        </div>
    </div>
{/}