{layout '../../Base/templates/@layout.latte'}

{block #head}
    <link href="{$basePath}/dist/front.bundle.css?v={rev}" rel="stylesheet">
{/}

{block #main}
    <!-- topbar -->
    {include 'topbar.latte'}
    <!-- content -->
    {include #content}
    <!-- footer -->
    {include 'footer.latte'}
    <!-- JS bundle -->
    <script src="{$basePath}/dist/front.bundle.js?v={rev}"></script>
    <!-- re-Captcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
{/}