# Extension > Nettrine
#
extensions:

    doctrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
    doctrine.orm: Nettrine\ORM\DI\OrmExtension
    doctrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    doctrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    doctrine.cache: Nettrine\Cache\DI\CacheExtension
    doctrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    doctrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

doctrine.orm.annotations:
    paths:
        - %appDir%/model

doctrine.dbal:
    debug:
        panel: %debugMode%
        sourcePaths: [%appDir%]
    connection:
        host: %database.host%
        user: %database.user%
        password: %database.password%
        dbname: %database.dbname%
        driver: %database.driver%
        types:
            datetime:
                class: App\Model\Database\Entity\Types\DateTimeType
                commented: false
            uuid:
                class: Ramsey\Uuid\Doctrine\UuidType
                commented: false
            uuid_binary_ordered_time:
                class: Ramsey\Uuid\Doctrine\UuidBinaryOrderedTimeType
                commented: false
        typesMapping:
            uuid_binary_ordered_time: binary

doctrine.orm:
    entityManagerDecoratorClass: App\Model\Database\EntityManager
    configuration:
        autoGenerateProxyClasses: %debugMode%
        customDatetimeFunctions:
            dayOfWeek: DoctrineExtensions\Query\Mysql\DayOfWeek
            year: DoctrineExtensions\Query\Mysql\Year
            month: DoctrineExtensions\Query\Mysql\Month
            date: DoctrineExtensions\Query\Mysql\Date

doctrine.migrations:
	table: doctrine_migrations
	column: version
	directory: db/Migrations
	namespace: Database\Migrations
	versionsOrganization: null

doctrine.fixtures:
	paths:
		- db/Fixtures

decorator:
	Doctrine\Common\EventSubscriber:
		tags: [nettrine.subscriber]