.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.badge-sm {
    font-size: 12px;
}

.badge-md {
    font-size: 16px;
}

.badge-lg {
    font-size: 20px;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    min-height: 150px;
}

.card {
    position: relative;
}

.card .card-top {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.img-thumb-xxs {
    width: 32px;
    height: 32px;
}

.img-thumb-xs {
    width: 48px;
    height: 48px;
}

.img-thumb-sm {
    width: 64px;
    height: 64px;
}

.img-thumb-md {
    width: 96px;
    height: 96px;
}

.img-thumb-lg {
    width: 150px;
    height: 150px;
}

.img-thumb-xl {
    width: 200px;
    height: 200px;
}

.img-circle {
    border-radius: 50%;
}

.img-input input[type=file][data-image] {
    display: none;
}

.img-input img[data-image] {
    cursor: pointer;
}

.img-container {
    position: relative;
}

.img-container .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.img-container:hover .img-overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.img-container .img-group-btn {
    position: absolute;
    width: 100%;
    left:0;
    top: 37%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.img-container .img-group-btn a {
    z-index: 1;
}

.img-container .fa-bookmark {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 45px;
    box-shadow: none;
}

.img-container:hover .img-group-btn {
    opacity: 1;
}

.breadcrumb {
    margin: 0;
    padding: 0 0 0 0.1rem;
    background-color: transparent;
}