# Parameters
#
parameters:

	# System
	system:
		error:
			email: test@localhost.net
			presenter: Front:Error

	# Project
	project:
		rev: "1.0.0"

	# Mailing
	mailing:
		from: test@localhost
		from_name: Testovac

	# STMP
	smtp:
		host: localhost
		username: fake
		password: fake

	# Recaptcha
	recaptcha:
		secret: 6LegFrYZAAAAAA4hKCl_fJ1RVXT-P_SwXTzQ5WlY
		site: 6LegFrYZAAAAAAj9GawotN4RFf-F2r6FDVa1s5vA