# Services
#
services:
	# Routing ================
	- App\Model\Router\RouterFactory
	router:
		class: Nette\Application\IRouter
		factory: @App\Model\Router\RouterFactory::create


	# Security ================
	nette.userStorage:
		setup:
			- setNamespace("Test")

	security.passwords: App\Model\Security\Passwords
	security.user: App\Model\Security\SecurityUser
	security.authenticator: App\Model\Security\Authenticator\UserAuthenticator


	# Model ===================

	## File
	- App\Model\File\DirectoryManager(%appDir%)
	- App\Model\File\FileTemporaryFactory(%tempDir%)
	- App\Model\File\Image\ImageInitialCreator

	## Element
	- App\Model\Element\Active

	# Control ===================
	- App\UI\Control\Dropzone\IDropzoneFactory
	- App\UI\Control\Album\IAlbumControlFactory

	# Console ================
	- {class: App\Model\Console\HelloCommand, tags: {console.command: hello}}


	# Domain =================
	- App\Domain\Order\OrderLogSubscriber

	## User
	- App\Domain\User\UserFacade
	- App\Domain\User\Element\States
	- App\Domain\User\Element\Roles

	## Offer
	- App\Domain\Offer\OfferFacade

	## Review
	- App\Domain\Review\ReviewFacade

	## Album
	- App\Domain\Album\AlbumFacade

	## Product
	- App\Domain\Product\ProductFacade

	## Config
	- App\Domain\Config\ConfigFacade