# Services
#
services:
	# Routing ================
	- App\Model\Router\RouterFactory
	router:
		class: Nette\Application\IRouter
		factory: @App\Model\Router\RouterFactory::create


	# Security ================
	nette.userStorage:
		setup:
			- setNamespace("Test")

	security.passwords: App\Model\Security\Passwords
	security.user: App\Model\Security\SecurityUser
	security.authenticator: App\Model\Security\Authenticator\UserAuthenticator


	# Model ===================

	## File
	- App\Model\File\DirectoryManager(%appDir%)
	- App\Model\File\FileUploader(%dir.temp.files%)
	- App\Model\File\FileInfoFactory
	- App\UI\Control\File\FileUploadFactory

	## Image
	- App\Model\File\Image\ImageFactory
	- App\Model\File\Image\ImageInitialFactory(%dir.temp.files%)

	## Element

	# Control ===================
	- App\UI\Control\Dropzone\IDropzoneFactory
	- App\UI\Control\Album\IAlbumControlFactory

	# Console ================
	- {class: App\Model\Console\HelloCommand, tags: {console.command: hello}}


	# Domain =================
	- App\Domain\Order\OrderLogSubscriber

	## Config
	- App\Model\Config\ConfigFactory
	- App\Model\Config\ConfigFacade

	## User
	- App\Model\User\UserFactory
	- App\Model\User\UserFacade
	- App\Model\User\Role\Roles
	- App\Model\User\State\States

	## Offer
	- App\Model\Offer\OfferFactory
	- App\Model\Offer\OfferFacade

	## Review
	- App\Model\Review\ReviewFactory
	- App\Model\Review\ReviewFacade

	## Gallery
	- App\Model\Gallery\GalleryFacade

	## Product
	- App\Domain\Product\ProductFacade