<div id="dz-container"
     class="dropzone"
     data-upload="{link upload!}"
     data-success="{link success!}"
     data-accepted-files="{$acceptedFiles}"
></div>
<script src="{$basePath}/dist/dropzone.bundle.js"></script>